.app_dark_theme {
    --bg-color: #06063f;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #004cf8;
    --inverted-secondary-color: #03248a;
}
